<span
    class="text-react-light dark:text-react-dark"
    title="Pero no... Está página no está en React"
>
    React
    <span class="icon-[mdi--react] animate-spin-react relative top-2"></span>
</span>
