<span
    class="text-react-light dark:text-react-dark inline-flex items-center gap-2"
    title="Pero no... Está página no está en React"
>
    React
    <span class="icon-[mdi--react] animate-spin-react relative"></span>
</span>
